if albums
  each album in albums
    .album(class=album.tracks?"":"notracks", data-album=album.album)
      h4(data-role='show-tracks')= album.album
      .album-container
        img(src=album.albumart, alt=album.name)
        .tracks
          if album.tracks
            each track in album.tracks
              .track(data-track-id="#{track._id}", data-track-uniqid="#{track.uniqid}", data-role="play")
                span= track.trackno
                span= track.name
                span= track.duration