ul
  if artists
    each artist in artists
      li.artist
        h3= artist.name
        ul.list-inline
          if artist.albums
            each album in artist.albums
              li.album
                h5= album.name
                div
                  a.thumb(href="#", data-role="show-tracks", data-artist="#{artist.name}", data-album="#{album.name}")
                    img.img-responsive(src=album.albumart, alt=album.name)
                  .btn-group
                    a.btn.btn-default.btn-sm(href="#", data-role="play", data-artist="#{artist.name}", data-album="#{album.name}") Play 
                      span.glyphicon.glyphicon-play
                    a.btn.btn-default.btn-sm(href="#", data-role="add", data-artist="#{artist.name}", data-album="#{album.name}") Add 
                      span.glyphicon.glyphicon-plus