doctype html
html(lang='fr')
  head
    meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
    link(rel='icon', type='image/png', href='images/favicon.png')
    link(rel='stylesheet', type='text/css', href='stylesheets/normalize.css')
    link(rel='stylesheet', type='text/css', href='stylesheets/font-awesome.min.css')
    link(rel='stylesheet', type='text/css', href='stylesheets/style.css')
    if debug
      script(type='text/javascript', src='js/jquery.min.js')
      script(type='text/javascript', src='js/jquery.hotkeys.js')
      script(type='text/javascript', src='js/angular.min.js')
      script(type='text/javascript', src='js/angular-init.js')
      script(type='text/javascript', src='js/ng-infinite-scroll.min.js')
      script(type='text/javascript', src='js/angular-lazy-img.min.js')
      script(type='text/javascript', src='js/angular-directive.js')
      script(type='text/javascript', src='js/angular-filter.js')
      script(type='text/javascript', src='js/angular-controller.js')
      script(type='text/javascript', src='js/soundmanager2-jsmin.js')
    else
      script(type='text/javascript', src='js/festival.min.js')
      script(type='text/javascript', src='js/soundmanager2-nodebug-jsmin.js')
    script(type='text/javascript').
      soundManager.setup({
        url: '#{soundmanager.url}',
        flashVersion: '#{soundmanager.flashVersion}',
        useFlashBlock: #{soundmanager.useFlashBlock},
        useHTML5Audio: #{soundmanager.useHTML5Audio},
        preferFlash: #{soundmanager.preferFlash}
      });
    title #{title}
  body(ng-app="festival", ng-controller="PlayerController")
    header
      include player
      .toolbar(ng-controller="ToolbarController")
        .search
          form(ng-submit="search()")
            label(for="search")
              i.fa.fa-search
            input#search(type="text", placeholder="Search for artist, album or track", ng-model="value")
    main
      .container#container(ng-controller="ListController")
        artists(infinite-scroll="pageArtists()", infinite-scroll-distance="1", infinite-scroll-container="'#container'")
          .artist(ng-repeat="artist in artists track by $index")
            h3(ng-click="loadAlbums(artist)") {{::artist.artist}}
            .controls
              .control(title="Play all albums", ng-click="empty();loadAlbumsAndTracksAndAdd(artist, true)")
                i.fa.fa-play
              .control(title="Add albums to queue", ng-click="loadAlbumsAndTracksAndAdd(artist, false)")
                i.fa.fa-plus
            .albums
              .album(ng-repeat="album in artist.albums track by $index", ng-class="{notracks: !album.tracks}")
                h4(ng-click="loadTracks(artist, album)") {{::album.name}}
                .controls
                  .control(title="Play tracks", ng-click="empty();loadTracksAndAdd(artist, album, true)")
                    i.fa.fa-play
                  .control(title="Add tracks to queue", ng-click="loadTracksAndAdd(artist, album, false)")
                    i.fa.fa-plus
                .album-container
                  img(ng-click="loadTracks(artist, album)", lazy-img="{{::album.albumart}}", alt="{{::album.name}}", src="/images/nocover.png")
                  .tracks
                    .track(ng-repeat="track in album.tracks track by $index", ng-class="{active: currentTrack._id == track._id}")
                      span.trackno(ng-if="::track.trackno") {{::track.trackno}}
                      span.name {{::track.name}}
                      span.controls
                        span.animate
                          span.control(title="Play", ng-click="empty();play(track, album.tracks)")
                            i.fa.fa-play
                          span.control(title="Add to queue", ng-click="add(track)")
                            i.fa.fa-plus
                      span.duration {{::track.duration | duration}}
      .queue(ng-controller="QueueController", ng-class="{show: show}")
        .handle(ng-click="show = !show")
          i.fa.fa-angle-double-left
        .tracks
          .track(ng-repeat="track in tracks track by track._id")
            span {{::track.trackno}}
            span(ng-click="play(track, album.tracks)") {{::track.name}}
            span {{::track.duration}}
