doctype html
html(lang='fr')
  head
    meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
    link(rel='icon', type='image/png', href='images/favicon.png')
    link(rel='stylesheet', type='text/css', href='stylesheets/normalize.css')
    link(rel='stylesheet', type='text/css', href='stylesheets/font-awesome.min.css')
    link(rel='stylesheet', type='text/css', href='stylesheets/style.css')
    if debug
      script(type='text/javascript', src='js/jquery.min.js')
      script(type='text/javascript', src='js/jquery.hotkeys.js')
      script(type='text/javascript', src='js/angular.min.js')
      script(type='text/javascript', src='js/angular-init.js')
      script(type='text/javascript', src='js/ng-infinite-scroll.min.js')
      script(type='text/javascript', src='js/angular-lazy-img.js')
      script(type='text/javascript', src='js/angular-directive.js')
      script(type='text/javascript', src='js/angular-filter.js')
      script(type='text/javascript', src='js/angular-controller.js')
      script(type='text/javascript', src='js/soundmanager2-jsmin.js')
    else
      script(type='text/javascript', src='js/festival.min.js')
      script(type='text/javascript', src='js/soundmanager2-nodebug-jsmin.js')
    script(type='text/javascript').
      soundManager.setup({
        url: '#{soundmanager.url}',
        flashVersion: '#{soundmanager.flashVersion}',
        useFlashBlock: #{soundmanager.useFlashBlock},
        useHTML5Audio: #{soundmanager.useHTML5Audio},
        preferFlash: #{soundmanager.preferFlash}
      });
    title #{title}
  body(ng-app="festival", ng-controller="PlayerController")
    header
      include player
      .toolbar(ng-controller="ToolbarController")
        .search
          form(ng-submit="searchnow()")
            label(for="search", ng-click="searchnow()")
              i.fa.fa-search
            input#search(type="text", placeholder="Search", ng-model="value", ng-keyup="search()")
            span.filters
              span in
              span(ng-class="{off: !checkboxFilter.artists}")
                input#sfartists(type="checkbox", ng-model="checkboxFilter.artists")
                label.checkbox(for="sfartists")
                label(for="sfartists")  Artists
              span(ng-class="{off: !checkboxFilter.albums}")
                input#sfalbums(type="checkbox", ng-model="checkboxFilter.albums")
                label.checkbox(for="sfalbums")
                label(for="sfalbums")  Albums
              span(ng-class="{off: !checkboxFilter.tracks}")
                input#sftracks(type="checkbox", ng-model="checkboxFilter.tracks")
                label.checkbox(for="sftracks")
                label(for="sftracks")  Tracks
        .volume
          .slider
            input(type="range" min="0" max="100" ng-model="volume", ng-model-options="{ getterSetter: true }")
            .progress(ng-progress="volumeval", ng-progress-duration="100")
          a(href="#", ng-click="toggleVolume()")
            i.fa(ng-class="{'fa-volume-up': volumeval >= 35, 'fa-volume-down': volumeval < 35 && volumeval > 0, 'fa-volume-off': volumeval == 0}")
    main
      .container#container(ng-controller="ListController")
        .spinner(ng-if="loading")
          .rect1
          .rect2
          .rect3
          .rect4
          .rect5
        artists(infinite-scroll="pageArtists()", infinite-scroll-distance="1", infinite-scroll-container="'#container'")
          .noresult(ng-show="!loading && artists.length == 0") No result matching the search criteria.
          .artist(ng-repeat="artist in artists track by $index")
            h3(ng-click="loadAlbums(artist)")
              i.fa(ng-class="{'fa-minus': artist.expanded, 'fa-plus': !artist.expanded}")
              {{::artist.artist ? artist.artist : 'Unknown'}}
            .controls
              .control(title="Play all albums", ng-click="empty();loadAlbumsAndTracksAndAdd(artist, true)")
                i.fa.fa-play
              .control(title="Add albums to queue", ng-click="loadAlbumsAndTracksAndAdd(artist, false)")
                i.fa.fa-plus
            .albums(ng-show="artist.expanded")
              .album(ng-repeat="album in artist.albums track by $index", ng-class="{notracks: !album.tracks}")
                h4(ng-click="loadTracks(artist, album)") {{::album.name}}
                  span.year(ng-if="::album.year")  ({{::album.year}})
                .controls
                  .control(title="Play tracks", ng-click="empty();loadTracksAndAdd(artist, album, true)")
                    i.fa.fa-play
                  .control(title="Add tracks to queue", ng-click="loadTracksAndAdd(artist, album, false)")
                    i.fa.fa-plus
                .album-container
                  img(ng-click="loadTracks(artist, album)", lazy-img="{{::album.albumart}}", alt="{{::album.name}}", src="images/nocover.png")
                  .tracks
                    .track(ng-repeat="track in album.tracks track by $index", ng-class="{active: currentTrack._id == track._id}")
                      span.trackno(ng-if="track.trackno") {{track.trackno}}
                      span.name {{track.name}}
                      span.controls
                        span.control(title="Play", ng-click="playOrPause(track, album.tracks)")
                          i.fa(ng-class="{'fa-pause': currentTrack._id == track._id && playing, 'fa-play': currentTrack._id != track._id || !playing}")
                        span.control(title="Add to queue", ng-click="add(track)")
                          i.fa.fa-plus
                      span.duration {{track.duration ? (track.duration | duration) : '-'}}
      .queue(ng-controller="QueueController", ng-class="{show: show}")
        .handle(ng-click="show = !show")
          i.fa.fa-angle-double-left
        .tracks
          .track(ng-repeat="track in tracks", ng-class="{active: currentTrack == track}")
            span.trackno(ng-if="::track.trackno") {{::track.trackno}}
            span.name(title="Artist: {{::track.artist}}\nAlbum: {{::track.album}}") {{::track.name}}
            span.controls
              span.control(title="Play", ng-click="playOrPause(track)")
                i.fa(ng-class="{'fa-pause': currentTrack == track && playing, 'fa-play': currentTrack != track || !playing}")
              span.control(title="Remove", ng-click="remove(track)")
                i.fa.fa-remove
            span.duration {{::track.duration ? (track.duration | duration) : '-'}}
