doctype html
html(lang='fr')
  head
    meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
    link(rel='icon', type='image/png', href='images/favicon.png')
    link(rel='stylesheet', type='text/css', href='stylesheets/normalize.css')
    link(rel='stylesheet', type='text/css', href='stylesheets/font-awesome.min.css')
    link(rel='stylesheet', type='text/css', href='stylesheets/style.css')
    if debug
      script(type='text/javascript', src='js/jquery.min.js')
      script(type='text/javascript', src='js/jquery.hotkeys.js')
      script(type='text/javascript', src='js/templates.js')
      script(type='text/javascript', src='js/utils.js')
      script(type='text/javascript', src='js/angular.min.js')
      script(type='text/javascript', src='js/angular-init.js')
      script(type='text/javascript', src='js/ng-infinite-scroll.min.js')
      script(type='text/javascript', src='js/angular-lazy-img.min.js')
      script(type='text/javascript', src='js/angular-directive.js')
      script(type='text/javascript', src='js/angular-filter.js')
      script(type='text/javascript', src='js/angular-controller.js')
      script(type='text/javascript', src='js/jquery.player.js')
      script(type='text/javascript', src='js/runtime.js')
      script(type='text/javascript', src='js/views.js')
      script(type='text/javascript', src='js/ajax.js')
      script(type='text/javascript', src='js/soundmanager2-jsmin.js')
    else
      script(type='text/javascript', src='js/festival.min.js')
      script(type='text/javascript', src='js/soundmanager2-nodebug-jsmin.js')
    script(type='text/javascript').
      soundManager.setup({
        url: '#{soundmanager.url}',
        flashVersion: '#{soundmanager.flashVersion}',
        useFlashBlock: #{soundmanager.useFlashBlock},
        useHTML5Audio: #{soundmanager.useHTML5Audio},
        preferFlash: #{soundmanager.preferFlash}
      });
    title #{title}
  body(ng-app="festival", ng-controller="PlayerController")
    header
      include player
      .toolbar
        .search(ng-controller="SearchController")
          form(ng-submit="search()")
            input#search(type="text", placeholder="Search for artist, album or track", ng-model="value")
        .displaymode.ar
        .displaymode.aral
        .displaymode.araltr
    main
      .container#container(ng-controller="ArtistController")
        artists(infinite-scroll="pageArtists()", infinite-scroll-distance="1", infinite-scroll-container="'main .container'")
          .artist(ng-repeat="artist in artists track by $index")
            h3(ng-click="loadAlbums(artist)") {{::artist.artist}}
            .albums
              .album(ng-repeat="album in artist.albums track by $index", ng-class="{notracks: !album.tracks}")
                h4(ng-click="loadTracks(artist, album)") {{::album.name}}
                .album-container
                  img(lazy-img="{{::album.albumart}}", alt="{{::album.name}}", src="/images/nocover.png")
                  .tracks
                    .track(ng-repeat="track in ::album.tracks track by $index")
                      span {{::track.trackno}}
                      span(ng-click="empty();play(track, album.tracks)") {{::track.name}}
                      span {{::track.duration}}
      .queue(ng-controller="QueueController")
        .handle(ng-click="show = !show")
        .tracks(ng-class="{show: show}")
          .track(ng-repeat="track in tracks track by track._id")
            span {{::track.trackno}}
            span(ng-click="play(track, album.tracks)") {{::track.name}}
            span {{::track.duration}}
