doctype html
html(lang='fr')
head
    meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
    meta(name="viewport", content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no")
    link(rel='shortcut icon', type='image/png', href='images/favicon.png')
    link(rel='stylesheet', type='text/css', href='stylesheets/bootstrap.min.css')
    link(rel='stylesheet', type='text/css', href='stylesheets/style.css')
    script(type='text/javascript', src='js/jquery.min.js')
    script(type='text/javascript', src='js/jquery.hammer-full.js')
    script(type='text/javascript', src='js/bootstrap.min.js')
    script(type='text/javascript', src='js/utils.js')
    script(type='text/javascript', src='js/jquery.fastsearch.js')
    script(type='text/javascript', src='js/views.js')
    script(type='text/javascript', src='js/init.js')
//    script(type='text/javascript', src='js/jquery.store.js')
    //script(type='text/javascript', src='js/jquery.playlist.div.js')
    //script(type='text/javascript', src='js/jquery.playlist.js')
    //script(type='text/javascript', src='js/jquery.player.js')
    //script(type='text/javascript', src='js/jquery.recipient.js')
    
    //script(type='text/javascript', src='js/jquery.hotkeys.js')
    if debug
      script(type='text/javascript', src='js/soundmanager2-jsmin.js')
    else
      script(type='text/javascript', src='js/soundmanager2-nodebug-jsmin.js')
    script(type='text/javascript').
      soundManager.url = '#{soundmanager.url}';
      soundManager.flashVersion = '#{soundmanager.flashVersion}';
      soundManager.useFlashBlock = #{soundmanager.useFlashBlock};
      soundManager.useHTML5Audio = #{soundmanager.useHTML5Audio};
      soundManager.preferFlash = #{soundmanager.preferFlash};
    script(type='text/javascript', src='js/ajax.js')
    //TODO Load plugins
    
    title Webmusic
  body
    header.container-fluid
      include player
    main.container-fluid
      .row.fill
        .wrapper.col-xd-12.col-md-3
          .search.wrapped
            .input-group
              span.input-group-addon
                span.glyphicon.glyphicon-search
              input#search.form-control(type="search", placeholder="Search an artist")
            div.list-group
              include tab/search
        .wrapper.hidden-xs.hidden-sm.col-xd-12.col-md-6
          .panel.wrapped.albums
            .panel-body
        .wrapper.hidden-xs.hidden-sm.hidden.col-xd-12.col-md-6
          .panel.wrapped.genres
            .panel-body
        .wrapper.hidden-xs.hidden-sm.col-xd-12.col-md-3
          ul.nav.nav-tabs.playlists-tabs
            li.playing.active
              a(href="#playing", data-toggle="tab") Now playing
            li.selection
              a(href="#selection", data-toggle="tab") Selection
          .panel.playlists
            .tab-content
              #playing.tab-pane.active
                include tab/playlist
              #selection.tab-pane
                include tab/playlist